.vi-first {
  ::ng-deep {
    .vi-category-cover {
      height: 408px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.75);
      }

      .vi-category-thumb {
        margin-bottom: 60px !important;
      }
    }

    .vi-category-block.vi-active:before {
      top: 210px !important;
    }
  }
}