.vi-user-info-wrapper {
  .vi-user-cover-photo {
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: #EEE;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.01) 75%, rgba(0,0,0,0) 76%);
      background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.01) 75%,rgba(0,0,0,0) 76%);
      background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0.01) 75%,rgba(0,0,0,0) 76%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
    }
  }

  .vi-user-info {
    position: relative;

    .vi-user-name {
      font-family: 'Playfair Display';
      position: relative;
      margin: 10px 0;
      font-weight: 700;

      > * {
        margin: 0;
      }
    }

    .vi-user-roles {
      padding: 0 10px;
      margin: 0;
      list-style-type: none;
      font-size: 0.85em;

      li {
        display: inline;

        + li {
          &:before {
            content: ', ';
          }
        }
      }
    }

    .vi-user-description {
      font-weight: 400;
      padding: 20px 0;
      border-bottom: 1px solid #DDD;
      margin: 0 30px;
    }

    ::ng-deep {
      .alert {
        margin: 15px;
      }
    }
  }

  .vi-user-header-wrapper {
    text-align: center;
    position: relative;

    > div {
      margin: 0;
      display: inline-block;
    }

    .vi-user-menu-item {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
      padding: 0 20px;
      transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      -moz-transform: translateY(-30px);
      -o-transform: translateY(-30px);

      a {
        color: #000;
        padding: 5px 10px;
        border: 1px solid #000;
      }
    }

    .vi-user-image-block {
      width: 120px;

      .vi-user-edit {
        width: 38px;
        height: 38px;
        background: #2c454a;
        color: #FFF;
        display: block;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(50%);
        text-align: center;
        line-height: 38px;
        border-radius: 50%;
      }
    }
  }
}

.vi-user-image-block {
  text-align: center;
  margin: 10px 0;

  .vi-user-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-image: url('/assets/images/user.jpg');
    margin: -60px auto 0;
    border: 1px solid #DDD;
  }
}

.vi-user-content {
  background: #FFF;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #CCC;
  position: relative;
  padding: 10px;
}

.vi-submitted-articles-info {
  > div {
    display: inline-block;
    text-align: center;

    .vi-number {
      margin-bottom: 0;
    }

    .vi-text {
      margin-top: 0;
    }

    + div {
      border-left: 1px solid #AAA;
    }
  }
}

.vi-user-posts-info {
  margin: 20px 15px;

  .vi-info {
    display: inline-block;
    min-width: 60px;

    .vi-number {
      font-size: 2em;
      font-weight: 700;
    }

    .vi-text {
      font-size: 0.85em;
      color: #999;
    }
  }

  ::ng-deep {
    .nav-tabs {
      text-align: center;

      li {
        float: none;
        display: inline-block;

        > a {
          border-radius: 0;
        }
      }
    }

    .tab-content {
      margin-top: 15px;
    }
  }
}

.vi-editoral-board-controls {
  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 20px 0 5px;

    li {
      display: inline-block;
      border: 1px solid #666;
      margin: 0 5px;
      padding: 2.5px 7.5px;
      font-size: 0.85em;
      text-transform: uppercase;

      a {
        color: #000;
      }
    }
  }
}