.vi-title {
  font-family: 'Roboto Slab';
}

.vi-articles {
  list-style-type: none;
  padding-left: 0;
  margin: 10px;

  a {
    color: #000;
  }

  li {
    + li {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid #CCC;
    }
  }
}

.vi-link {
  word-wrap: break-word;
}

.vi-buttons {
  font-size: 0.85em;
  line-height: 2em;
  border-top: 1px solid #CCC;
  margin-top: 5px;
  padding-top: 5px;

  > div {
    display: inline-block;

    + div {
      margin-left: 20px;
    }
  }
}

.vi-say-something {
  margin: 10px 0;
  font-size: .85em;
}

.vi-user-wrapper {
  font-size: 0.75em;
}

.vi-user {
  > div {
    margin: 0 0 0 10px;
    height: 24px;
    line-height: 24px;

    a {
      color: #05dce9;
      font-weight: 700;
    }
  }

  .vi-text {
    line-height: 24px;
    height: 24px;
    margin-right: 5px;
    margin-left: 0;
  }

  .vi-user-image {
    width: 24px;
    height: 24px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
}

#link {
  word-break: break-all;
}

.vi-controls {
  padding: 10px;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;

  .vi-top-buttons {
    > div {
      display: inline-block;
      background: #DDD;
      padding: 5px 10px;
      font-size: 0.85em;

      + div {
        margin-left: 20px;
      }

      a {
        color: #000;
      }
    }
  }
}

.vi-check {
  cursor: pointer;

  &.selected {
    color: #05dce9;
  }
}

.vi-articles-wrapper {
  ::ng-deep {
    .backdrop {
      position: fixed;
    }
  }
}
