<div class="vi-article-image" [ngStyle]="{'background-image': 'url(' + (article.teaserImage ? article.teaserImage : '') + ')'}">
    <div class="vi-article-top-info">
        <div class="vi-category-thumb">
            <a title="{{article.category.name}}"
                [routerLink]="['/categories', article.category.id, article.category.name | slugify]">
                <img [src]="article.category.whiteThumbnail"/>
            </a>
        </div>

        <div class="vi-article-title">
            <h1 class="h3">{{article.name}}</h1>
            <div class="vi-nav-article vi-prev-article" *ngIf="previousArticle">
                <a title="{{previousArticle.name}}" [routerLink]="['/article', previousArticle.id, previousArticle.name | slugify]">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </a>
            </div>
            <div class="vi-nav-article vi-next-article" *ngIf="nextArticle">
                <a title="{{nextArticle.name}}" [routerLink]="['/article', nextArticle.id, nextArticle.name | slugify]">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>

        <h4 class="h5 vi-article-description">
            {{article.summary}}
        </h4>

        <div class="vi-created-date">{{article.createdDate | date: 'MMMM d, y'}}</div>

        <div class="vi-social-shares">
            <a md-raised-button shareButton="facebook"><i class="fa fa-facebook"></i></a>
            <a md-raised-button shareButton="twitter"><i class="fa fa-twitter"></i></a>
            <a md-raised-button href="mailto:?to=&subject=Viidia - {{article.name}}&body={{doc.location.href}}">
                <i class="fa fa-envelope"></i>
            </a>
        </div>

        <div class="vi-article-source">Source: <span>{{article.articleSource?.name}}</span></div>

        <div *ngIf="article.videoHtml" class="vi-video-play"
             (click)="videoPlayerService.showVideoPlayer(article.videoHtml)">
            <span class="glyphicon glyphicon-play"></span>
        </div>

        <ng-container *ngIf="article.externalReferral">
            <div class="vi-article-redirect text-center">
                <a title="{{article.name}}" [href]="article.sourceUrl">
                    <span *ngIf="article.articleSource?.name">
                        Click here to redirect to {{article.articleSource.name}} to view this article.
                    </span>
                </a>
            </div>
        </ng-container>
    </div>
</div>

<article-header [article]="article"></article-header>

<div class="vi-article-body">
    <runtime-content [template]="article.processed"></runtime-content>
</div>

<div class="vi-article-source-url" *ngIf="article.sourceUrl">
    Source URL : <a title="{{article.name}}" href="{{article.sourceUrl}}">{{article.sourceUrl}}</a>
</div>

<div class="vi-article-bottom clearfix">
    <div class="pull-left">
        <div class="vi-created-date">{{article.createdDate | date: 'MMMM d, y'}}</div>
    </div>
    <div class="pull-right">
        <div class="vi-social-shares">
            <a md-raised-button shareButton="facebook"><i class="fa fa-facebook"></i></a>
            <a md-raised-button shareButton="twitter"><i class="fa fa-twitter"></i></a>
            <a md-raised-button href="mailto:?to=&subject=Viidia - {{article.name}}&body={{doc.location.href}}">
                <i class="fa fa-envelope"></i>
            </a>
        </div>
    </div>

    <div class="clearfix">
        <related-users [article]="article"></related-users>
    </div>
</div>
