<div class="vi-group-articles-3" *ngIf="articles?.length > 0">
    <div class="vi-articles-2">
        <div class="vi-border-row">
            <div class="row vi-flex">
                <div class="col-6 col-xs-6">
                    <div class="vi-row-style-7">
                        <div class="vi-article-source">{{articles[0].articleSource?.name}}</div>
                        <div class="vi-article-wrapper"
                            [ngStyle]="{'background-image': 'url(' + (articles[0].image ? articles[0].image : '') + ')'}">
                            <div *ngIf="articles[0].featured" class="vi-article-featured-label">Featured</div>
                            <div *ngIf="articles[0].videoHtml" class="vi-video-play-btn"
                                 (click)="videoPlayerService.showVideoPlayer(articles[0].videoHtml)">
                                <span class="glyphicon glyphicon-play"></span>
                            </div>
                            <div class="vi-share">
                                <shares [article]="articles[0]"></shares>
                            </div>
                            <!-- <article-actions [article]="articles[1]" [direction]="left"></article-actions> -->
                        </div>
                        <h2 class="vi-article-title h5">
                            <a title="{{articles[0].name}}" [routerLink]="['/article', articles[0].id, articles[0].name | slugify]">
                                {{stringUtilities.substr(articles[1].name)}}
                            </a>
                        </h2>
                    </div>
                </div>
                <div class="col-6 col-xs-6">
                    <div class="vi-row-style-7">
                        <div class="vi-article-source">{{articles[1].articleSource?.name}}</div>
                        <div class="vi-article-wrapper"
                            [ngStyle]="{'background-image': 'url(' + (articles[1].image ? articles[1].image : '') + ')'}">
                            <div *ngIf="articles[1].featured" class="vi-article-featured-label">Featured</div>
                            <div *ngIf="articles[1].videoHtml" class="vi-video-play-btn"
                                 (click)="videoPlayerService.showVideoPlayer(articles[1].videoHtml)">
                                <span class="glyphicon glyphicon-play"></span>
                            </div>
                            <div class="vi-share">
                                <shares [article]="articles[1]"></shares>
                            </div>
                            <!-- <article-actions [article]="articles[2]" [direction]="left"></article-actions> -->
                        </div>
                        <h2 class="vi-article-title h5">
                            <a title="{{articles[1].name}}" [routerLink]="['/article', articles[1].id, articles[1].name | slugify]">
                                {{stringUtilities.substr(articles[1].name)}}
                            </a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="vi-border-row">
            <div class="row vi-flex">
                <div class="col-6 col-xs-6">
                    <div class="vi-row-style-7">
                        <div class="vi-article-source">{{articles[2].articleSource?.name}}</div>
                        <div class="vi-article-wrapper"
                            [ngStyle]="{'background-image': 'url(' + (articles[2].image ? articles[2].image : '') + ')'}">
                            <div *ngIf="articles[2].featured" class="vi-article-featured-label">Featured</div>
                            <div *ngIf="articles[2].videoHtml" class="vi-video-play-btn"
                                 (click)="videoPlayerService.showVideoPlayer(articles[2].videoHtml)">
                                <span class="glyphicon glyphicon-play"></span>
                            </div>
                            <div class="vi-share">
                                <shares [article]="articles[2]"></shares>
                            </div>
                            <!-- <article-actions [article]="articles[3]" [direction]="left"></article-actions> -->
                        </div>
                        <h2 class="vi-article-title h5">
                            <a title="{{articles[2].name}}"
                                [routerLink]="['/article', articles[2].id, articles[2].name | slugify]">
                                {{stringUtilities.substr(articles[2].name)}}
                            </a>
                        </h2>
                    </div>
                </div>
                <div class="col-6 col-xs-6">
                    <div class="vi-row-style-7">
                        <div class="vi-article-source">{{articles[3].articleSource?.name}}</div>
                        <div class="vi-article-wrapper"
                            [ngStyle]="{'background-image': 'url(' + (articles[3].image ? articles[3].image : '') + ')'}">
                            <div *ngIf="articles[3].featured" class="vi-article-featured-label">Featured</div>
                            <div *ngIf="articles[3].videoHtml" class="vi-video-play-btn"
                                 (click)="videoPlayerService.showVideoPlayer(articles[3].videoHtml)">
                                <span class="glyphicon glyphicon-play"></span>
                            </div>
                            <div class="vi-share">
                                <shares [article]="articles[3]"></shares>
                            </div>
                            <!-- <article-actions [article]="articles[4]"></article-actions> -->
                        </div>
                        <h2 class="vi-article-title h5">
                            <a title="{{articles[3].name}}"
                                [routerLink]="['/article', articles[3].id, articles[3].name | slugify]">
                                {{stringUtilities.substr(articles[3].name)}}
                            </a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <videos *ngIf="showVideos"></videos>

    <div class="vi-row-style-3">
        <div class="vi-article-wrapper"
            [ngStyle]="{'background-image': 'url(' + (articles[4].image ? articles[4].image : '') + ')'}">
            <div *ngIf="articles[4].featured" class="vi-article-featured-label">Featured</div>
            <div *ngIf="articles[4].videoHtml" class="vi-video-play-btn"
                 (click)="videoPlayerService.showVideoPlayer(articles[4].videoHtml)">
                <span class="glyphicon glyphicon-play"></span>
            </div>
            <div class="vi-article-info-wrapper" [ngStyle]="{'border-top-color': articles[4].category?.color}">
                <div class="vi-article-header">
                    <h2 class="vi-article-title h4">
                        <a title="{{articles[4].name}}" [routerLink]="['/article', articles[4].id, articles[4].name | slugify]">
                            {{stringUtilities.substr(articles[4].name)}}
                        </a>
                    </h2>
                </div>
                <div class="vi-article-footer">
                    <div class="vi-article-source">{{articles[4].articleSource?.name}}</div>
                </div>
            </div>
            <div class="vi-article-border-wrapper" [ngStyle]="{'background-color': articles[4].category?.alphaColor}"></div>
            <!-- <article-actions [article]="articles[0]"></article-actions> -->
        </div>
    </div>

    <!-- <ul class="vi-articles">
        <li class="vi-row-style-8">
            <div class="vi-article-wrapper"
                [ngStyle]="{'background-image': 'url(' + (articles[4].image ? articles[4].image : '') + ')'}">
                <div *ngIf="articles[4].featured" class="vi-article-featured-label">Featured</div>
                <div class="vi-article-info-wrapper" [ngStyle]="{'border-bottom': '15px solid ' + articles[4].category?.alphaColor}">
                    <h2 class="vi-article-title h4">
                        <a title="{{articles[4].name}}" [routerLink]="['/article', articles[4].id, articles[4].name | slugify]">
                            {{stringUtilities.substr(articles[4].name, 60)}}
                        </a>
                    </h2>
                    <div class="vi-article-source">{{articles[4].articleSource?.name}}</div>
                    <div *ngIf="articles[4].videoHtml" class="vi-video-play-btn"
                         (click)="videoPlayerService.showVideoPlayer(articles[4].videoHtml)">
                        <span class="glyphicon glyphicon-play"></span>
                    </div>
                </div>
                <div class="vi-share">
                    <shares [article]="articles[4]"></shares>
                </div>
                <article-actions [article]="articles[0]" [direction]="left"></article-actions>
            </div>
        </li>
    </ul> -->
</div>