.vi-article-category-wrapper {
  position: relative;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  height: 35px;

  .vi-current-category {
    display: inline-block;
    color: #FFF;
    font-size: 12.5px;
    text-transform: uppercase;
    padding: 7.5px 10px;
    margin-bottom: -1px;
  }

  ul {
    background: #FFF;
    padding-left: 0;
    border-top-width: 4px;
    border-top-style: solid;
    margin-bottom: 0;
    padding: 10px 0;
  }

  .vi-article-category {
    position: static;
    margin: 5px;
    display: inline-block;
  }
}