:host {
  background: #FFF;
  display: block;
  overflow: hidden;
}

.vi-related-users {
  text-align: right;
  font-size: 0.75em;
  margin-bottom:15px;

  > div {
    margin: 0 0 0 10px;
    height: 24px;
    line-height: 24px;

    a {
      color: #05dce9;
      font-weight: 700;
    }
  }

  .vi-text {
    line-height: 24px;
    height: 24px;
    margin-right: 5px;
  }

  .vi-user-image {
    width: 24px;
    height: 24px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    display: inline-block;
  }
}