.vi-articles-list {
  list-style-type: none;
  padding-left: 0;

  li {
    border-top: 1px solid #e0e0e0;
    margin-top: 10px;
    padding-top: 10px;

    &.vi-first {
      margin-top: 0;
    }
  }
}
