$icomoon-font-path: "fonts" !default;

$vi-icon-trending: \e979;
$vi-icon-our-picks: \e94e;
$vi-icon-articles: \e94f;
$vi-icon-categories: \e950;
$vi-icon-video: \e97d;
$vi-icon-collection: \e97e;
$vi-icon-photo: \e97f;
$vi-icon-close-x: \e97a;
$vi-icon-go-to-top-alt-2: \e97b;
$vi-icon-mascot-path1: \e951;
$vi-icon-mascot-path2: \e952;
$vi-icon-mascot-path3: \e953;
$vi-icon-mascot-path4: \e954;
$vi-icon-mascot-path5: \e955;
$vi-icon-mascot-path6: \e956;
$vi-icon-mascot-path7: \e957;
$vi-icon-mascot-path8: \e958;
$vi-icon-mascot-path9: \e959;
$vi-icon-mascot-path10: \e95a;
$vi-icon-mascot-alt-bw-path1: \e95b;
$vi-icon-mascot-alt-bw-path2: \e95c;
$vi-icon-mascot-alt-bw-path3: \e95d;
$vi-icon-mascot-alt-bw-path4: \e95e;
$vi-icon-mascot-alt-bw-path5: \e95f;
$vi-icon-mascot-alt-bw-path6: \e960;
$vi-icon-mascot-alt-bw-path7: \e961;
$vi-icon-mascot-alt-bw-path8: \e962;
$vi-icon-mascot-alt-bw-path9: \e963;
$vi-icon-mascot-alt-bw-path10: \e964;
$vi-icon-mascot-bw-path1: \e965;
$vi-icon-mascot-bw-path2: \e966;
$vi-icon-mascot-bw-path3: \e967;
$vi-icon-mascot-bw-path4: \e968;
$vi-icon-mascot-bw-path5: \e969;
$vi-icon-mascot-bw-path6: \e96a;
$vi-icon-mascot-bw-path7: \e96b;
$vi-icon-mascot-bw-path8: \e96c;
$vi-icon-mascot-bw-path9: \e96d;
$vi-icon-mascot-bw-path10: \e96e;
$vi-icon-mascot-alt-path1: \e96f;
$vi-icon-mascot-alt-path2: \e970;
$vi-icon-mascot-alt-path3: \e971;
$vi-icon-mascot-alt-path4: \e972;
$vi-icon-mascot-alt-path5: \e973;
$vi-icon-mascot-alt-path6: \e974;
$vi-icon-mascot-alt-path7: \e975;
$vi-icon-mascot-alt-path8: \e976;
$vi-icon-mascot-alt-path9: \e977;
$vi-icon-mascot-alt-path10: \e978;
$vi-icon-share: \e94d;
$vi-icon-home: \e94c;
$vi-icon-city-guide: \e900;
$vi-icon-job: \e901;
$vi-icon-event: \e902;
$vi-icon-classified: \e903;
$vi-icon-magazine: \e904;
$vi-icon-listing: \e905;
$vi-icon-news: \e906;
$vi-icon-classified-active-path1: \e907;
$vi-icon-classified-active-path2: \e908;
$vi-icon-classified-active-path3: \e909;
$vi-icon-classified-active-path4: \e90a;
$vi-icon-classified-active-path5: \e90b;
$vi-icon-classified-active-path6: \e90c;
$vi-icon-classified-active-path7: \e90d;
$vi-icon-classified-active-path8: \e90e;
$vi-icon-classified-active-path9: \e90f;
$vi-icon-classified-active-path10: \e910;
$vi-icon-classified-active-path11: \e911;
$vi-icon-classified-active-path12: \e912;
$vi-icon-classified-active-path13: \e913;
$vi-icon-event-active-path1: \e914;
$vi-icon-event-active-path2: \e915;
$vi-icon-event-active-path3: \e916;
$vi-icon-event-active-path4: \e917;
$vi-icon-event-active-path5: \e918;
$vi-icon-event-active-path6: \e919;
$vi-icon-event-active-path7: \e91a;
$vi-icon-event-active-path8: \e91b;
$vi-icon-event-active-path9: \e91c;
$vi-icon-event-active-path10: \e91d;
$vi-icon-job-active-path1: \e91e;
$vi-icon-job-active-path2: \e91f;
$vi-icon-job-active-path3: \e920;
$vi-icon-job-active-path4: \e921;
$vi-icon-job-active-path5: \e922;
$vi-icon-job-active-path6: \e923;
$vi-icon-job-active-path7: \e924;
$vi-icon-city-guide-active-path1: \e925;
$vi-icon-city-guide-active-path2: \e926;
$vi-icon-city-guide-active-path3: \e927;
$vi-icon-city-guide-active-path4: \e928;
$vi-icon-city-guide-active-path5: \e929;
$vi-icon-city-guide-active-path6: \e92a;
$vi-icon-city-guide-active-path7: \e92b;
$vi-icon-city-guide-active-path8: \e92c;
$vi-icon-listing-active-path1: \e92d;
$vi-icon-listing-active-path2: \e92e;
$vi-icon-listing-active-path3: \e92f;
$vi-icon-listing-active-path4: \e930;
$vi-icon-listing-active-path5: \e931;
$vi-icon-listing-active-path6: \e932;
$vi-icon-listing-active-path7: \e933;
$vi-icon-listing-active-path8: \e934;
$vi-icon-listing-active-path9: \e935;
$vi-icon-listing-active-path10: \e936;
$vi-icon-listing-active-path11: \e937;
$vi-icon-news-active-path1: \e938;
$vi-icon-news-active-path2: \e939;
$vi-icon-news-active-path3: \e93a;
$vi-icon-news-active-path4: \e93b;
$vi-icon-news-active-path5: \e93c;
$vi-icon-news-active-path6: \e93d;
$vi-icon-news-active-path7: \e93e;
$vi-icon-news-active-path8: \e93f;
$vi-icon-news-active-path9: \e940;
$vi-icon-news-active-path10: \e941;
$vi-icon-news-active-path11: \e942;
$vi-icon-news-active-path12: \e943;
$vi-icon-magazine-active-path1: \e944;
$vi-icon-magazine-active-path2: \e945;
$vi-icon-magazine-active-path3: \e946;
$vi-icon-magazine-active-path4: \e947;
$vi-icon-magazine-active-path5: \e948;
$vi-icon-magazine-active-path6: \e949;
$vi-icon-magazine-active-path7: \e94a;
$vi-icon-magazine-active-path8: \e94b;

